@include tablet {
    .contenedor__anuncios {
        @include grid(3, 2rem)
    }
}

.anuncio {
    background-color: lighten($gris, 5); // Para aclarar colores
    border: 1px solid darken($gris, 10); // Para oscurecer colores
    margin-bottom: 2rem;

    .contenido__anuncio {
        padding: 2rem;
        
    }

    h3, p{
        margin: 0;
    }
}
.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}

.iconos__caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li {
        display: flex;
        flex: 1;

        img {
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
}